@model ClienteViewModel

@{
    ViewData["Title"] = "Inserir";
}

<h2>Inserir</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-6">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
                <div class="form-group col-md-6">
                    <label asp-for="DataNascimento" class="control-label"></label>
                    <input asp-for="DataNascimento" class="form-control" />
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Sexo" class="control-label"></label>
                    <select asp-for="Sexo" asp-items="@Html.GetEnumSelectList(typeof(Domain.Entidades.Sexo))" class="form-control"></select>
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
            <div class="form-group col-md-6">
                <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" id="cep" class="form-control" onblur="pesquisaCep(this.value);" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
                <div class="form-group col-md-6">
                    <label asp-for="Estado" class="control-label"></label>
                    <input asp-for="Estado" id="uf" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Cidade" class="control-label"></label>
                    <input asp-for="Cidade" id="cidade" class="form-control" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>
            <div class="form-group col-md-6">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" id="bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" id="logradouro" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
                <div class="form-group col-md-6">
                    <label asp-for="Numero" class="control-label"></label>
                    <input asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Complemento" class="control-label"></label>
                    <input asp-for="Complemento" class="form-control" />
                    <span asp-validation-for="Complemento" class="text-danger"></span>
                </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Salvar" class="btn btn-success btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-primary btn-block"><i class="fa fa-table"></i> Voltar para lista</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
